<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <config>
    <add key="globalPackagesFolder" value="../nuget" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    <add key="Main Nuget" value="../nuget" />
    <add key="Dayforce" value="https://pkgs.dev.azure.com/Ceridian/_packaging/dayforce@release/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Dayforce>
      <add key="Username" value="test" />
      <add key="ClearTextPassword" value="DF_FEED_PWD" />
    </Dayforce>
  </packageSourceCredentials>
</configuration>